[Unit]
Description=minecraft_server-paper
After=network.target

[Service]
User=root
Nice=1
KillMode=none
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/opt/minecraft/server/
ExecStart=/usr/bin/java -d64 -Xmx5120M -Xms2084M -jar paper.jar -nogui

[Install]
WantedBy=multi-user.target
